// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#filmTable tr {
  cursor: pointer;
}

.character {
  position: relative;

  &:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    visibility: hidden;
    width: 200px;
    bottom: 120%;
    left: 50%;
    margin-left: -100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

.detail-list {
  margin-left: -20px;

  .list-item {
    display: inline-block;
    padding: 0 20px 10px 20px;
  }
}

.alert {
  position: absolute;
  width: 100%;
}